input {
    width: 200px;
    padding: 20px;
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    
}
body{
    
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
button{
    margin-top: 10px;
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: aqua;
    color: white;
    font-weight: bold;
    cursor: pointer;

}
button:hover{
    background-color: aquamarine;
}

label{
    color: rgb(8, 7, 7);
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;

}

#result{
    color: black;
    font-size: 2rem;
   
}